button{
  background-color: #d1b3ff;
  color: black;
  border: solid;
  border-width: 0.7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 15px;
  padding: 5px;
}

h1{
  margin: 5px;
}

.aloitusNappi{
  margin-top: 10px;
}

button:focus{
  border: 0;
}
